*,
:after,
:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* 
@font-face {
	font-family: "Patua One";
	@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
} */

html {
	font-size: 62.5%;
	height: 100%;
	background: #277553;
	/* background: #3a6351; */
}

.App {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100vh;
}

.page-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: transparent;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* 
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards; */
}

@keyframes fadeInAnimation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
/* ------------------- */
.bg-image {
	position: absolute;
	top: 0;
	z-index: -10;
	background: linear-gradient(#277553, transparent),
		url("../assets/img/nature-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	z-index: -2;
}

.bg-green {
	position: absolute;
	top: 0;
	background: #277553;
	height: 100%;
	width: 100%;
	z-index: -1;

	animation: fadeInAnimation ease 2.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: black;
	padding: 2rem;
	font-size: 1.5rem;
	background: transparent;
}

.nav-bar > * {
	margin: 1rem;
}

.nav-links {
	display: flex;
	flex-direction: row;
}

.link {
	color: white;
	margin: 0 3rem;
	font-family: Roboto, cursive;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	text-decoration: none;
	display: inline-block;
	/* Below is important for underline effect */
	position: relative;
	transition: color 0.25s ease-in-out;
}

.link:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 0.2rem;
	bottom: -0.5rem;
	left: 0;
	background-color: #ffffff;
	transform-origin: bottom right;
	transition: transform 0.25s ease-in-out;
}

.link:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.log-out:hover {
	color: #ff7967;
}

.log-out:hover:after {
	background-color: #ff7967;
}

.app-title {
	color: #ffffff;
	font-family: "Courgette", cursive;
	font-size: 3rem;
	letter-spacing: 0.5rem;
}

.title-container {
	position: relative;
}

.bird1 {
	position: absolute;
	width: 5rem;
	height: 5rem;
	filter: invert();
	left: 105%;
	top: -50%;

	animation: bird1Anim 5s infinite alternate cubic-bezier(0.37, 0, 0.63, 1);
}

@keyframes bird1Anim {
	from {
		transform: translateX(-1rem) translateY(-0.5rem) rotate(5deg);
	}
	to {
		transform: translateX(1rem) translateY(1.5rem);
	}
}

.bird2 {
	position: absolute;
	width: 5rem;
	height: 5rem;
	filter: invert();
	left: 10%;
	top: 100%;
	/* transform: rotate(180deg); */

	animation: bird2Anim 4s infinite alternate cubic-bezier(0.37, 0, 0.63, 1);
}

@keyframes bird2Anim {
	from {
		transform: translateX(0rem) translateY(0.5rem) rotate(170deg);
	}
	to {
		transform: translateX(1rem) translateY(1.5rem) rotate(150deg);
	}
}

.bird3 {
	position: absolute;
	width: 3rem;
	height: 3rem;
	filter: invert();
	left: 40%;
	bottom: 100%;
	/* transform: rotate(180deg); */

	animation: bird3Anim 6s infinite alternate cubic-bezier(0.37, 0, 0.63, 1);
}

@keyframes bird3Anim {
	from {
		transform: translateX(-1.5rem) translateY(0.75rem);
	}
	to {
		transform: translateX(-0.25rem) translateY(-0.25rem) rotate(10deg);
	}
}

/* Login/register styling */
.login-register-page {
	font-family: "Roboto", sans-serif;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	top: -5%;
	/* background: green; */
	/* background: linear-gradient(#277553, transparent),
		url("../assets/img/nature-bg.png"); */
	/* background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */

	/* animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards; */
}

/* @keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */

.forms {
	display: flex;
	flex-direction: row;
}

.register-form,
.login-form {
	height: fit-content;
	background: #ffffff;
	/* flex: 1; */
}

.register-form {
	width: 40vw;
	/* height: 40vh; */
	padding: 1rem;
	margin: 1rem;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-container input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #e9e9e9cc;
	width: 100%;
	border: 0;
	margin: 0 0 1rem;
	padding: 1rem;
	box-sizing: border-box;
	font-size: 14px;
	border: 1px solid rgb(190, 190, 190);
}

.login-form {
	top: 50%;
	width: 40vw;
	/* height: 40vh; */
	padding: 1rem;
	margin: 1rem;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Issue Container Styling */
.issue-container {
	background: lightgray;
	margin: 1.25rem 0rem;
}

.issue-title {
	font-size: 2rem;
	padding: 1.5rem;
	text-decoration: underline;
}
.issue-author {
	font-size: 1.5rem;
	color: rgb(97, 97, 97);
}
.issue-body {
	padding: 1rem;
	font-size: 1.75rem;
}

/* Login / register form  */

.register-form h1 {
	font-size: 2.5rem;
}
.login-form h1 {
	font-size: 2.5rem;
}

.register-form > * {
	margin: 1rem 0rem;
}

.login-form > * {
	margin: 1rem 0rem;
}

.form-container {
	margin: 1rem;
	font-size: 1.5rem;
}

.btn-container {
	margin: 1rem;
}

.submit-btn {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background-color: #4caf50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.submit-btn:hover {
	background-color: #439b46;
}

.comment {
	margin: 0.5rem;
	padding: 0.5rem;
	background: rgb(195, 195, 195);
}

button {
	cursor: pointer;
}

.add-comment-form {
	margin: 5rem, 0.75rem;
}

/* issue styling */

.issues-page {
	display: flex;
	/* align-items: center; */
	justify-content: center;
}

.issue-container {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	margin: 3rem;
	padding: 2rem;
	width: 70vw;
	max-width: 70rem;
	height: fit-content;
	background: rgb(255, 255, 255);
	border-radius: 1rem;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.issues-container {
}

.issues-status {
	display: inline-block;
	background: transparent;
	margin-top: 5rem;
	position: relative;
	top: 50%;
	background: white;
	border-radius: 4rem;
	border: none;
	padding: 1rem 2rem;
	font-size: 2rem;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

/* Vote Container */

.votes-container {
	display: flex;
	flex-direction: row;
}

.upvotes-container,
.downvotes-container {
	margin: 0.5rem;
}

.issue-title-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.add-issue-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#add-issue-form {
}

#add-issue-form h1 {
	padding: 2rem;
	color: white;
}

#add-issue-form input {
	width: 50rem;
}

.add-issue-btn {
	background: lightgreen;
	color: black;
}

.add-issue-btn:hover {
	background: rgb(132, 212, 132);
}

/* .login-register-page {
	transform: translateY(20vh);
} */

.error-text {
	text-align: left;
	font-family: sans-serif;
	padding-top: 0.5rem;
	margin: 1rem;
	color: red;
	font-size: 1.4rem;
}
